<% include ./styling/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container" id="searchdesc">
            <h1 id="greeting"><span class="glyphicon glyphicon-grain align-bottom" aria-hidden="true"></span> Recipe
                Center</h1>
            <div>
                <p>View the best recipes on Recipe Center</p>
                
                    <div class="form-group has-feedback">
                        <label for="search"></label>
                        <form method="POST" action="/api/search">
                        <input class="form-control" type="text" name="search" placeholder="Search recipes"
                               autocomplete="off"/>
                               <br>
                        <button class="btn btn-danger">Search</button>
                      </form>
                    </div>
             
            </div>
        </div>
    </header>
</div>