<% include ./styling/header %>

<div class="container text-center">
    <div class="row">
        <div style="width: 30%; margin: 30px auto;">
            <form action="/login" method="POST">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="form-group">
                    <label for ="uname"></label>
                    <input class="form-control" id="uname" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" id="pass" type="password" name="password" placeholder="password" required>
                    <label for ="pass"></label>
                </div>


                <div class="form-group">
                    <button class="btn btn-info btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Login
                    </button>
                </div>
                <hr>
                <span>New to Recipe Center? <a href="/register">Sign up now!</a></span>
            </form>
            <hr>
            <a href="/recipes">Back</a>
        </div>
    </div>
</div>
</body>
</html>