<% include ./styling/header %>
<div class="container">
    <header class="jumbotron" style="background-color:aliceblue">
        <div class="container" id="searchdesc">
            <h1><span class="glyphicon glyphicon-apple align-bottom" aria-hidden="true"></span> Recipe
                Center</h1>
            <div>
                <p>View recipes from people around the world</p>
                <div class="form-group has-feedback">
                    <label for="recipe"></label>
                    <form method="GET" action="/search">
                        <input class="form-control" type="text" name="recipe" placeholder="Search recipes">
                        <br>
                        <button class="btn btn-ptimary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <% if(typeof noMatch != 'undefined'){ %>
        <div class="container my-5">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% noMatch.forEach(function(recipe){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img class="gridhome" src="<%= recipe.image_url %>">
                            <div class="caption">
                                <h4> <%= recipe.title %> </h4>
                                <h3>Submitted by : <%= recipe.publisher %></h3>
                                <label for="recipe_id"></label>
                                <form action="/details" method="GET">
                                    <h5>
                                        <button class="btn btn-info">View Recipe</button>
                                    </h5>
                                    <input type="hidden" name="recipe_id" value="<%= recipe.recipe_id %>">
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
</div>
</div>