<% include ../styling/header %>

<div class="container">
    <header class="jumbotron" style="background-color:aliceblue">
        <div class="container text-center">
            <h1><i class="fa fa-cutlery" aria-hidden="true"></i> Recipe Center</h1>
            <div>
                <p>View recipes added by chefs around the globe</p>
                <div class="form-group has-feedback">
                    <label for="recipe"></label>
                    <form method="GET" action="/search">
                        <label for="search"></label>
                        <input class="form-control" id="search" type="text" name="recipe" placeholder="Search recipes">
                        <br>
                        <button class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <% if(typeof noMatch != 'undefined'){ %>
        <div class="row">
            <% noMatch.forEach(function(recipe){ %>
                <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                    <div class="card">
                        <% let imgurl = "https://spoonacular.com/recipeImages/" + recipe.image %>
                        <img src=  "<%= imgurl %>"
                             class="img-card-top"
                             style="height:14em;width:100%;object-fit: cover;"
                             alt="recipe"/>


                        <div class="card-body">
                            <h5 class="card-title"><%= recipe.title %></h5>
                           
                        </div>
                        <div class="card-footer">

                            <label for="recipe_id"></label>
                            <form action="/details" method="GET">
                                <button class="btn btn-info">View Recipe</button>
                                <input hidden name="recipe_id" value="<%= recipe.id %>">
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>
</div>