<!DOCTYPE html>
<html>

<head>
    <title>Recipe Center</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand active" href="/"><i class="fa fa-home"></i> Recipe Center<span
                class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">

        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-item nav-link active" href="/search"><i class="fa fa-search"></i> More Recipes</a>
            </li>
            <% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/register"><i class="fa fa-user-plus"></i> Sign Up</a>
                </li>
            <% } else { %>
                <% if(currentUser.type == "chef"){ %>
                    <li class="nav-item"><a class="nav-item nav-link active" href="/recipes/add"><i
                                    class="fa fa-plus-square-o"></i> Add a Recipe</a></li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/profile"><i class="fa fa-user"></i> Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container">

    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
</div>