<% include ../styling/header %>

<div class="container">
    <header class="jumbotron" style="background-color:aliceblue">
        <div class="container" id="searchdesc">
            <h1><span class="glyphicon glyphicon-apple align-bottom" aria-hidden="true"></span> Recipe
                Center</h1>
            <div>
                <p>View recipes from the chefs on our website</p>
                <form class="form-inline" action="/recipes" method="GET">
                    <div class="form-group has-feedback">
                        <label for="search"></label>
                        <input class="form-control" type="text" name="search" placeholder="Search recipes">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% recipes.forEach(function(recipe){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/recipes/<%= recipe._id %>"><img class="gridhome" src="<%= recipe.image %>"></a>
                    <div class="caption">
                        <h4> <%= recipe.name %> </h4>
                        <h3>Submitted by : <%= recipe.author.username%></h3>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../styling/footer %>