<% include ../styling/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;"></h1>
        <div style="width:30%; margin: 30px auto;">
            <form action="/recipes" method="POST" enctype="multipart/form-data">
                <h1 class="h3 mb-3 font-weight-normal">Add a new Recipe</h1>
                <div class="form-group">
                    <label for="nameoftherecipe"></label>
                    <input class="form-control" type="text" id="nameoftherecipe" required name="recipe[name]"
                           placeholder="Name of your recipe">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" required accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="ingredients"></label>
                    <textarea style="width: 100%" id="ingredients" name="recipe[ingredients]" required
                        placeholder="Please type in the ingredients by separating them by comma"></textarea>
                </div>
                <div class="form-group">
                    <label for="description"></label>
                    <textarea style="width: 100%" id="description" name="recipe[description]" required
                        placeholder="Describe your recipe"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-block">Submit!</button>
                </div>
            </form>
            <a href="/recipes">Go back</a>
        </div>
    </div>
</div>
</body>

</html>